.each-review {
    background-color: white;
    font-size: 14px;
    height: 14rem;
    width: 21rem;
    border: 2px solid #fbfbfb;
    padding-right: 17px;
    padding-left: 20px;
    padding-top: 15px;
    box-shadow: 0 0 0.1px lightgrey;
}

.each-review p {
    line-height: 1.3;
}

#companies-logos {
    margin-top: 2rem;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 3.6rem;
}

.info p {
    font-weight: 800;
    margin-right: 6.5rem;
    margin-top: 1.2rem;
}

.person1 {
    display: flex;
    justify-content: space-between;
    margin-top: 2.3rem;
}

.person1 p {
    font-weight: 800;
    margin-right: 6rem;
    margin-top: 1.2rem;
}

#reviews {
    background-color: #FCFCFC;
    margin-top: 3rem;
}

#reviews-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4rem auto 0;
    width: 90%;
}

.reviews-header {
    /* color: #40196d */
    margin: 0 auto;
    width: 35%;
}

.reviews-header h1 {
    color: #40196d;
    font-size: 2.3rem;
}



@media only screen and (max-width: 800px) {
    .each-review {
        margin: 0 auto;
        width: 80%;
    }

    #reviews {
        margin-top: 0 auto;
        width: 100%;
    }

    .reviews-header {
        width: 100%;
    }

    .reviews-header h1 {
        font-size: 1.8rem;
        text-align: center;
    }
}